.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(151, 56, 228, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.4s ease-in-out;
}

.modal-box {
  position: relative;

  /* Background image */
  background-image: url("../assets/bggg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px;
  padding: 2.5rem 2rem;
  text-align: center;
  width: 100%;
  max-width: 320px;
min-height: 280px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  overflow: hidden;
display: flex;
flex-direction: column;
justify-content: flex-end;
  animation: popUp 0.5s ease-in-out;
}

/* Optional overlay for readability */
.modal-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.326);
  border-radius: 20px;
  z-index: 0;
}

.modal-box h2,
.modal-box button {
  position: relative;
  z-index: 1;
}

.modal-box h2 {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  font-family: "Comfortaa";
  color: #212176;
}

.modal-box button {
  /* width: 80%; */
  padding: 12px 18px;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: "Comfortaa";
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  background: linear-gradient(
    135deg,
    #725be7,
    #223298
  );

  transition: all 0.3s ease;
}

.modal-box button:hover {
  background: linear-gradient(
    135deg,
    #515cf7,
    #7e77e3
  );
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popUp {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .modal-box {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .modal-box {
    max-width: 250px;
  }
}